.auth-title {
    font-optical-sizing: auto;
    font-weight: 1000;
    font-size: 36px;
    font-style: normal;
}

a {
    color: #F49881;
    text-decoration: none;
}

.auth-form-box {
    width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.auth-header {
    background-color: #F49881;
    font-weight: 700;
    text-align: center;
    color: white;
    font-size: 22px;
}

.auth-form {
    color: #9696A0;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    padding: 32px 86px;
}

.auth-form span {
    color: red;
}

.auth-footer {
    color: black;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
}

@media (max-width: 660px) {
    .auth-form-box {
        width: 90vw;
    }

    .auth-form {
        padding: 24px 40px;
    }

    .auth-footer {
        font-size: 14px;
    }
}
