.card {
    background-color: white;
    width: 100%;
    /* max-width: 31rem; */
    max-width: 90vw;
    height: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 10px;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 160px;
}

.card-body {
    color: #01BFBF;
}

.card-body h6 {
    font-weight: 600;
    font-size: 16px;
    color: black;
}

.card-body a {
    color: #01BFBF;
    text-decoration: underline;
}

.card .btn-group {
    position: absolute;
    right: 10px;
    cursor: pointer;
    margin: 8px;
    /* Dengan Background */
    /* margin-top: 14px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center; */
}

/* @media (max-width: 576px) {
    .card {
        width: 100%;
        max-width: 100%;
    }
} */
