.btn-custom {
    color: black;
    font-weight: 900;
    border-radius: 20px;
    border-color: #de2424;
    background-color: #8cff00
}

.btn-custom:hover {
    border-color: #8cff00;
    background-color: #00ccff
}
