body {
    background-color: #F0F9F9;
    font-family: "Mulish", sans-serif;
}

.btn-custom {
    background-color: #01BFBF;
    color: white;
    font-weight: 700;
}

.btn-custom:hover {
    background-color: #2da8a8;
    color: white;
}

.btn-custom-outlined {
    background-color: white;
    color: #01BFBF;
    border-color: #01BFBF;
    font-weight: 700;
}

.btn-custom-outlined:hover {
    background-color: #eaeaea;
    color: #01BFBF;
}

.navbar-custom {
    background-color: #F49881;
}

.navbar-custom .navbar-text {
    color: white;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.navbar-brand {
    color: white;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.navbar-brand {
    color: white;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.navbar-link {
    color: white;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin-left: 128px;
}

.navbar-link:hover {
    color: rgba(255, 255, 255, 0.664);
}

.navbar-active {
    color: #01BFBF;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.navbar-active:hover {
    color: #269b9ba5;
}

.navbar-custom .navbar-text h2 {
    font-size: 24px;
}

.btn-primary {
    /* width: 100%; */
    background-color: #01BFBF;
    border-color: #01BFBF;
    font-size: 14px;
    font-weight: 700;
}

.btn-primary:hover {
    /* width: 100%; */
    background-color: #196d5f;
    border-color: #196d5f;
}

.navbar-logo {
    max-width: 40px;
    margin-left: -16rem;
}

.fixed-alert {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1050;
    width: auto;
    max-width: 500px;
}

@media (max-width: 1820px) {
    .navbar-logo {
        margin-left: -8rem;
    }
}

@media (max-width: 1570px) {
    .navbar-logo {
        margin-left: 0rem;
    }
}
